@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark-primary text-text-medium antialiased;
  }
}

/* Tambahkan kode di bawah ini */
@layer utilities {
  /* Sembunyikan panah di input angka untuk Chrome, Safari, Edge, Opera */
  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Sembunyikan panah di input angka untuk Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
}